.tags-page {
  height: 88%;
  padding-top: 5%;
}

.tag-box {
  padding: 0% 5%;
}

.sub-tag-box {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  /* display: flex; */
  flex: 1;
  flex-wrap: "wrap";
  overflow: inherit;
  flex-direction: "row";
  align-items: center;
  justify-content: space-evenly;
}

.tags {
  flex-basis: 40%;
}

.tags-page li {
  width: fit-content;
  text-align: center;
  border: 1px solid black;
  padding: 1% 2%;
  display: inline-block;
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: 7%;
}

.tags-page a {
  color: #0281e8;
  text-decoration: underline;
  font-size: 200%;
}

.tags-page p {
  margin-top: 20%;
  font-size: 120%;
}
