*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: black;
  list-style-type: none
}

.banner{
    display: sticky;
    width: 100%;
    height: 20%;
  }
  
  ul {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 15% 10% 50% 25%;
    background-color: lightgrey;
    border-bottom: 2px solid black ;
  }
  
  ul li{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  
  .flex1:hover{
    background-color: darkgray;
    cursor: pointer;
  }
  
  .hover_color{
    background-color: #0281E8;
  }
  
  .flex2:hover{
    background-color: darkgray;
    cursor:pointer;
  }
  
  .flex3{
    padding-right: 10%;
  }
  
  .questions{
    font-size: 150%;
  }
  
  .tags{
    
    font-size: 150%;
  }
  
  .title{
    font-size: 300%;
    font-weight: bolder;
  }
  
  input{
    font-size: 200%;
    border: 2px solid black;
  }
  
  .flex4{
    padding-right: 20%;
  }