
   .question-list{
    width: 100%;
    height: 18%;
    display: grid;
    grid-template-columns: 25% 60% 15%;
    margin-top: 1%;
    border-bottom: 2px dotted darkgray;
  }
  
  .c1{
    display: grid;
    grid-template-columns: 100%; 
    grid-template-rows: 50% 50%;
    padding-left: 5%;
  }
  
  .c1 span{
    border:none;
    font-size: 180%;
    font-weight: bolder;
    display: flex;
  }
  
  .view{
    margin-top: auto;
  }
  
  .c2{
    display: grid;
    grid-template-columns: 100%; 
    grid-template-rows: 50% 50%;
    border: none;
    margin: auto 0;
  }
  
  .c2 span{
    margin-top: auto;
    margin-bottom: 1%;
  }
  
  .c2 .question-tags  {
    flex-wrap: wrap;
    width: 100%;
    display: inline-block;
  }
  
  .tag-child {
    padding: 0 1% 0 1%;
    display: inline-block;
    margin: 0.5% 0.5% 0.5% 0.5%;
    border-radius: 10px;
    border: 2px solid black;
    color: white;
    text-align: center;
    font-size: 150%;
    background-color: gray;
  }
  
  .c2 a{
    color: rgb(94, 148, 218);
    font-weight: bolder;
    font-size:180%;
  }
  
  .c2  a:hover{
    color: darkblue;
  }
  
  .c3{
    text-align: right;
    margin: auto;
    color: darkgray;
    font-size:large
  }
  
  .c3 li {
    color: darkgray;
  }
  
  .c3 .user-name{
    color: rgb(42, 79, 199);
  }
  
  .c3 .question-date{
    color: rgb(73, 165, 73);
  }
  
  .c3 .question-time{
    color: rgb(17, 80, 70);
  }
  