.answer-page {
  overflow: auto;
}

.question-section {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  border-bottom: dotted;
  margin-top: 3%;
}

.question-section div {
  border-bottom: none;
  margin-bottom: 3%;
}

.answered-question {
  font-weight: bold;
  font-size: 120%;
}

.question-section .answer-views {
  padding: 5% 5%;
  font-size: 180%;
  font-weight: bolder;
}

.question-section .question-info div {
  padding-right: 8%;
  padding: auto;
  text-align: right;
}

.question-section .question-info .user-name {
  color: rgb(42, 79, 199);
}

.question-section .question-info .question-date {
  color: rgb(73, 165, 73);
}

.question-section .question-info .question-time {
  color: rgb(17, 80, 70);
}

.Answer-question {
  height: 20%;
  text-align: center;
  padding-top: 6%;
  margin-bottom: 5%;
}

.Answer-question button {
  background-color: #165a92;
  color: white;
  font-weight: bolder;
  font-size: 200%;
  padding: 1.5% 2%;
  border-radius: 10%;
  border: 2px solid black;
}

.ans-section{
  overflow: scroll;
}